body {
  min-height: 2000px;
  padding-top: 70px; }
  body .top-buffer-10 {
    margin-top: 10px; }
  body .top-buffer-20 {
    margin-top: 20px; }
  body .ta-noresize {
    resize: none; }
  body .ta-height-md {
    height: 100px; }
  body .ta-height-lg {
    height: 150px; }
  body .vendor-contact-form .form-group {
    margin-top: 10px; }
  body .contacts-panel-height {
    height: 585px; }
  body .contacts-list-group-height {
    height: 458px;
    overflow-y: scroll; }
  body .table td {
    line-height: 50px;
    vertical-align: middle; }
