<div class="row">

    <!-- sales order details -->

    <div class="col-lg-8
                col-md-7">
        <form name="form" novalidate>
            <!-- details panel -->
            <div class="panel panel-primary">
                <div class="panel-heading">Sales Order Details</div>
                <div class="panel-body">


                    <div class="row">

                        <!-- sales order number-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Sales Order #</label>
                                <input type="text" name="sales_order_id" class="form-control" ng-model="salesOrder.sales_order_id" readonly>
                            </div>
                        </div>

                        <!-- date ordered-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Date</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" datepicker-popup="MMMM d, yyyy" ng-model="salesOrder.date_ordered" is-open="datePickers.dateOrdered" ng-required="true" close-text="Close" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="open($event,'dateOrdered')"><i class="glyphicon glyphicon-calendar"></i>&nbsp;</button>
                                    </span>
                                </div>
                            </div>
                        </div>


                    </div>



                    <div class="row">

                        <!-- customer -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Customer</label>
                                <select class="form-control"

                                        ng-model="salesOrder.customer_id"

                                        ng-options="customer.customer_id as customer.company_name for customer in customers">
                                </select>
                            </div>
                        </div>

                    </div>

                    <div class="row">

                        <!-- date required  -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Date Required</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" datepicker-popup="MMMM d, yyyy" ng-model="salesOrder.date_required" is-open="datePickers.dateRequired" ng-required="true" close-text="Close" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="open($event,'dateRequired')"><i class="glyphicon glyphicon-calendar"></i>&nbsp;</button>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <!-- date delivered -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Date Delivered</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" datepicker-popup="MMMM d, yyyy" ng-model="salesOrder.date_delivered" is-open="datePickers.dateDelivered" ng-required="true" close-text="Close" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="open($event,'dateDelivered')"><i class="glyphicon glyphicon-calendar"></i>&nbsp;</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- short description -->
                    <div class="row">
                        <div class=" col-md-12">
                            <div class="form-group">
                                <label>Short Description</label>
                                <input type="text" class="form-control" ng-model="salesOrder.short_description">
                            </div>
                        </div>
                    </div>

                    <!-- notes -->
                    <div class="row">
                        <div class=" col-md-12">
                            <div class="form-group">
                                <label for="company_name">Notes</label>
                                <textarea class="form-control ta-noresize ta-height-lg" ng-model="salesOrder.notes"></textarea>
                            </div>
                        </div>
                    </div>

                    <!-- buttons -->
                    <div class="row ">
                        <div class="col-xs-6">
                            <button ng-click="deleteSalesOrder()" class="btn btn-default"> Delete</button>
                        </div>
                        <div class="col-xs-6 text-right">
                            <button ng-click="updateSalesOrder()" class="btn btn-primary" ng-disabled="form.$invalid"><span class="glyphicon glyphicon-ok"></span> Save</button>
                            <a href="#/sale-orders" class="btn btn-default"> Cancel</a>
                        </div>
                    </div>

                </div>
            </div>
        </form>
    </div>


    <!-- purchase orders list -->
    <div class="col-lg-4
                col-md-5">

        <div class="panel panel-primary  contacts-panel-height">
            <div class="panel-heading">Purchase Orders</div>
            <div class="panel-body">

                <div class="list-group top-buffer contacts-list-group-height">
                    <div class="list-group-item"  ng-repeat="contact in customerContacts">
                        <strong>{{contact.first_name}} {{contact.last_name}}</strong>
                        <br/>
                        <span class="glyphicon glyphicon-earphone"></span>&nbsp;&nbsp;&nbsp;{{contact.phone }}
                        <br/>
                        <span class="glyphicon glyphicon-envelope"></span>&nbsp;&nbsp;&nbsp;<a href="mailto:{{ contact.email }}">{{ contact.email }}</a>
                        <br/>
                        <div class="btn-group pull-right top-buffer-10">
                            <button class="btn btn-sm btn-default" ng-click="editCustomerContact( contact );"> <span class="glyphicon glyphicon-edit"></span></button>
                            <button class="btn btn-sm btn-default" ng-click="deleteCustomerContact( contact );"> <span class="glyphicon glyphicon-trash"></span></button>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="pull-right">
                    <button title="Add Contact" class="btn btn-default" ng-click="addSalesOrder()"> Add Purchase Order</button>
                </div>

            </div>
        </div>


    </div>
</div>
