<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Sale Orders</h3>
    </div>
    <div class="panel-body">


        <!-- filter search box -->
        <div class="row top-buffer-20">
            <div class="col-xs-3 col-md-2">
                <button class="btn btn btn-default" ng-click="addSalesOrder();"><span class="glyphicon glyphicon-plus"></span> New Sales Order</button>
            </div>
            <div class="col-xs-5">
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                    <input type="text" class="form-control" placeholder="search..." ng-model="searchText">
                </div>
            </div>
        </div>

        <table class="table top-buffer-20">
            <thead>
            <tr>
                <th class="col-md-2">Sales Order#</th>
                <th class="col-md-3">Customer</th>
                <th class="col-md-5 hidden-sm hidden-xs">Description</th>
                <th class="col-md-2 text-center"></th>
            </tr>
            </thead>
            <tr ng-repeat="salesOrder in saleOrders | filter:searchText">
                <td ><a href="#/sale-orders/{{salesOrder.sales_order_id}}">{{salesOrder.sales_order_id}}</a></td>
                <td >{{salesOrder.company_name}}</td>
                <td class="hidden-sm hidden-xs" >{{salesOrder.short_description}}</td>
                <td class="text-center">
                    <a  href="#/sale-orders/{{salesOrder.sales_order_id}}" class="btn btn-default btn-md"><span class="glyphicon glyphicon-search"></span> View</a>
                </td>
            </tr>
        </table>
    </div>
</div>