<div class="row top-buffer-20">

    <div class="col-lg-4 col-lg-offset-4
                col-md-6 col-md-offset-3
                col-sm-6 col-sm-offset-3
                col-xs-10 col-xs-offset-1">
        <form name="form" novalidate>
            <!-- change panel -->
            <div class="panel panel-primary">
                <div class="panel-heading">Change Password</div>
                <div class="panel-body">

                    <!-- old password -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group" ng-class="{ 'has-error' : form.current_password.$invalid && !form.current_password.$pristine }">
                                <label>Current Password</label>
                                <input type="password" name="current_password" class="form-control" ng-model="user.current_password" required>
                                <p ng-show="form.current_password.$invalid && !form.current_password.$pristine" class="help-block">Your current password is required.</p>
                            </div>
                        </div>
                    </div>

                    <!-- new password -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group" ng-class="{ 'has-error' : form.new_password.$invalid && !form.new_password.$pristine }">
                                <label>New Password</label>
                                <input type="password" name="new_password" class="form-control" ng-model="user.new_password" required>
                                <p ng-show="form.new_password.$invalid && !form.new_password.$pristine" class="help-block">Please enter a new password.</p>
                            </div>
                        </div>
                    </div>

                    <!-- confirm password -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group" ng-class="{ 'has-error' : form.confirm_password.$invalid && !form.confirm_password.$pristine }">
                                <label>Confirm New Password</label>
                                <input type="password" name="confirm_password" class="form-control" ng-model="user.confirm_password" required>
                                <p ng-show="form.confirm_password.$invalid && !form.confirm_password.$pristine" class="help-block">Please confirm your new password.</p>
                            </div>
                        </div>
                    </div>

                    <!-- buttons -->
                    <div class="row ">
                        <div class="col-md-12 text-right">
                            <a href="#/dashboard" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span>Cancel</a>
                            <button ng-click="changeUserPassword()" class="btn btn-default" ng-disabled="form.$invalid"><span class="glyphicon glyphicon-ok"></span> Save</button>
                        </div>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>

