<div class="row top-buffer-20">

    <!-- vendor details -->

    <div class="col-md-12">
        <form name="form" novalidate>
            <!-- details panel -->
            <div class="panel panel-primary">
                <div class="panel-heading">User Profile</div>
                <div class="panel-body">

                    <fieldset>
                        <legend class="scheduler-border">Basic Information</legend>
                        <!-- display name name-->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" class="form-control" ng-model="user.email" required>
                                </div>
                            </div>
                        </div>

                        <!-- user name -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="display_name">Display Name</label>
                                    <input type="text" class="form-control" ng-model="user.display_name" required>
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset>
                        <legend class="scheduler-border">Change Password (Leave empty to remain unchanged)</legend>

                        <!-- old password -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="old_password">Old Password</label>
                                    <input type="password" class="form-control" ng-model="user.old_password">
                                </div>
                            </div>
                        </div>

                        <!-- new password -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="new_password">New Password</label>
                                    <input type="password" class="form-control" ng-model="user.new_password">
                                </div>
                            </div>
                        </div>

                        <!-- confirm password -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="confirm_password">Confirm New Password</label>
                                    <input type="password" class="form-control" ng-model="user.confirm_password">
                                </div>
                            </div>
                        </div>

                    </fieldset>




                    <!-- buttons -->
                    <div class="row ">
                        <div class=" col-md-6">
                            <!-- space holder -->
                        </div>
                        <div class=" col-md-6 text-right">
                            <span class="label label-danger" ng-show="form.$invalid">There are required fields which are empty.</span>&nbsp;
                            <a href="#/dashboard" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span> Cancel</a>
                            <button ng-click="updateUser()" class="btn btn-default" ng-disabled="form.$invalid"><span class="glyphicon glyphicon-ok"></span> Save</button>
                        </div>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>

