$(document).ready(function(){


// find out if we are on gift page or signup page
var pageURL = window.location.pathname;
g_currentPage = "signup";
if (pageURL.indexOf("gift") > -1) {
g_currentPage = "gift";
}


// set text descriptions based on what page we are on
var plans = {};
if (g_currentPage == "signup") {

g_paymentButtonLabel = "Subscribe";

plans['monthly'] =  {};
plans['monthly']['id'] = "monthly";
plans['monthly']['desc'] = "Monthly Subscription<br/>Billed $29.00 Every Month";
plans['monthly']['stripeName'] = "Monthly Subscription";
plans['monthly']['stripeDesc'] = "Billed $29.00 Every Month";
plans['monthly']['amount'] = 2900;
plans['monthly']['image'] = "images/plan-1month.png";

plans['3month'] =  {};
plans['3month']['id'] = "3month";
plans['3month']['desc'] = "3-Month Subscription<br/>Billed $78.00 Every 3 Months";
plans['3month']['stripeName'] = "3-Month Subscription";
plans['3month']['stripeDesc'] = "Billed $78.00 Every 3 Months";
plans['3month']['amount'] = 7800;
plans['3month']['image'] = "images/plan-3month.png";

plans['6month'] =  {};
plans['6month']['id'] = "6month";
plans['6month']['desc'] = "6-Month Subscription<br/>Billed $144.00 Every 6 Months";
plans['6month']['stripeName'] = "6-Month Subscription";
plans['6month']['stripeDesc'] = "Billed $144.00 Every 6 Months";
plans['6month']['amount'] = 14400;
plans['6month']['image'] = "images/plan-6month.png";

plans['12month'] =  {};
plans['12month']['id'] = "12month";
plans['12month']['desc'] = "Annual Subscription<br/>Billed $264.00 Every 12 Months";
plans['12month']['stripeName'] = "1 Year Subscription";
plans['12month']['stripeDesc'] = "Billed $264.00 Every 12 Months";
plans['12month']['amount'] = 26400;
plans['12month']['image'] = "images/plan-6month.png";

} else {
g_paymentButtonLabel = "Purchase";

plans['monthly'] =  {};
plans['monthly']['id'] = "monthly";
plans['monthly']['desc'] = "One Secret Snack Gift Box<br/>Billed $29.00 One-Time Purchase";
plans['monthly']['stripeName'] = "One Secret Snack Gift Box";
plans['monthly']['stripeDesc'] = "Billed $29.00 One-Time Purchase";
plans['monthly']['amount'] = 2900;
plans['monthly']['image'] = "images/plan-1month.png";

plans['3month'] =  {};
plans['3month']['id'] = "3month";
plans['3month']['desc'] = "3-Month Gift<br/>Billed $78.00 One-Time Purchase";
plans['3month']['stripeName'] = "3-Month Subscription Gift";
plans['3month']['stripeDesc'] = "Billed $78.00 One-Time Purchase";
plans['3month']['amount'] = 7800;
plans['3month']['image'] = "images/plan-3month.png";

plans['6month'] =  {};
plans['6month']['id'] = "6month";
plans['6month']['desc'] = "6-Month Gift<br/>Billed $144.00 One-Time Purchase";
plans['6month']['stripeName'] = "6-Month Subscription Gift";
plans['6month']['stripeDesc'] = "Billed $144.00 One-Time Purchase";
plans['6month']['amount'] = 14400;
plans['6month']['image'] = "images/plan-6month.png";

plans['12month'] =  {};
plans['12month']['id'] = "12month";
plans['12month']['desc'] = "Annual Gift<br/>Billed $264.00 One-Time Purchase";
plans['12month']['stripeName'] = "1 Year Subscription Gift";
plans['12month']['stripeDesc'] = "Billed $264.00 One-Time Purchase";
plans['12month']['amount'] = 26400;
plans['12month']['image'] = "images/plan-6month.png";


}

g_planSelected = "";
g_planSelectedDesc = "";
g_chargeAmount = 0;

var handler = StripeCheckout.configure({
key: 'pk_live_4UJvoKbAivqE83XICyKU8XYG',
shippingAddress: true,
allowRememberMe: false,
panelLabel: g_paymentButtonLabel,

token: function(token, args) {
var $theToken = $('<input type=hidden name=stripeToken />').val(token.id);
var $theEmail = $('<input type=hidden name=stripeEmail />').val(token.email);
var $thePlan = $('<input type=hidden name=stripePlan />').val(g_planSelected);
var $thePlanDesc = $('<input type=hidden name=stripePlanDesc />').val(g_planSelectedDesc);
var $theCurrentPage = $('<input type=hidden name=currentPage />').val(g_currentPage);
var $theChargeAmount = $('<input type=hidden name=chargeAmount />').val(g_chargeAmount);
var $theAddressInfo = $('<input type=hidden name=stripeAddress />').val(JSON.stringify(args));

$('#form').append($theToken);
$('#form').append($theEmail);
$('#form').append($thePlan);
$('#form').append($thePlanDesc);
$('#form').append($theCurrentPage);
$('#form').append($theChargeAmount);
$('#form').append($theAddressInfo).submit();
}
});

function openHandler(planName) {
g_planSelected = plans[planName]['id'];
g_planSelectedDesc = plans[planName]['desc'];
g_chargeAmount = plans[planName]['amount'];
handler.open({
name: plans[planName]['stripeName'],
amount: plans[planName]['amount'],
description: plans[planName]['stripeDesc'],
image: plans[planName]['image']
});
event.preventDefault();
}


$('#monthlyButton').click(function(event){
openHandler('monthly');
});

$('#threeMonthButton').click(function(event){
openHandler('3month');
});

$('#sixMonthButton').click(function(event){
openHandler('6month');
});

$('#annualButton').click(function(event){
openHandler('12month');
});

});